@charset "utf-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    overflow-x: hidden;
    font-family: monospace;
    background-color: rgb(0, 0, 0);
    color: white;
    
}

nav{
    position: fixed;
    height: 65px;
    width: 100%;
    text-align: center;
     
}

nav ul{
    float: right;
    margin-right: 20px;
    box-shadow: 60px 60px 60px 60px 60px rgb(255, 255, 255);
}

nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}

nav ul li a{
    color: #ffff;
    font-size: 18px;
    text-decoration: none;
    padding: 7px 13px;
    border-radius: 3px;
    
}

.checkbtn{
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media(max-width: 952px){

label.logo{
    font-size: 30px;
    padding-left: 50px;
}

nav ul li a{
    font-size: 16px;
}
}

@media(max-width: 850px){
.checkbtn {
    display: block;
}

ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000000fa;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .30s;
}

nav ul li{
    display: block;
    margin: 30px 0;
    line-height: 50px;
} 

nav ul li a{
    font-size: 25px;
    
}

a:active, a:hover{
    background: none;
    color: #cf7806;
}

#check:checked ~ ul{  
    left: 0;
}

}


header .back{
    background-image: url(wall_proc.jpg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 480px;
    background-size: cover;
    text-align: center;
}

.back .B h1{
    padding-top: 160px;
    
    
}

.back .B p{
    padding-top: 30px;
    text-align: center;
    
}

.B a{
    background-color: #cf7806;
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    border: 2px 2px solid white;
    border-radius: 2px 2px;
    box-shadow: inset 0px 6px 20px 0px rgba(0, 0, 0, 0.74);
    text-align: center;
}

.B a:hover{
    color: rgba(255, 255, 255, 0.534);
}

.container p{
    margin-bottom: 30px;
    text-align: center;
}

label.logo a{
    color: #cf7806;  
    font-size: 35px;
    line-height: 60px;
    padding: 0 100px;
    text-decoration: none;
    
}


a{
    text-decoration: none; 
    color: white;
}

a.ctive, a:hover{
    color: #cc7e17;
    transition: .5s;
}

main{
    background-color: black;
    
}

.Container{
    display: inline-block;
    
    
}

main p{
    font-family: bold;
    text-align: justify;
    color: white;
    padding-top: 30px;
    text-align: center;
}

main h2{
    padding-top: 30px;
    text-align: center;
}

@media (max-width:729px){
    main .um{
            display: block;   
            
            
    }

    main img{
        width: 50px;
    }

    main .hold{
        font-size: 12px;
    }
}



.um{
    display: inline-block;
    padding: 0px;
    width: 32%;
    text-align: center;
}

.um .color{
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.um .hold{
    padding-left: 40px;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 0px;
    text-indent: 10px;
}

.um img:hover{
    transform: scale(1.1);

}

.dois{
    display: inline-block;
    padding: 0px;
    text-align: center;
    width: 32%;
}

.dois .color{
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.dois .hold{
    padding-left: 40px;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 0px;
    text-indent: 10px;
}



.dois img:hover{
    transform: scale(1.1);

}

.um p{
    padding: 50px;
}


.tres{
    display: inline-block;
    padding: 0px;
    width: 32%;
    text-align: center;
    
}



.tres img:hover{
    transform: scale(1.1);

}

.tres .color{
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.tres .hold{
    padding-left: 40px;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 0px;
    text-indent: 10px;
}

.quatro{
    display: inline-block;
    margin-top: 40px;
    text-align: center;
    
}

.quatro .text img{
    padding-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.829);
}

.quatro img:hover{
    transform: scale(1.1);
}

.Cinco{
  
}

.cinco{
    float: left;
    padding: 20px;
    margin-left: 50px;
}



.seis{
    color: #cf7806;
}

.sete{
    color: #cf7806;
}

footer{
    width: 100%;
    height: 20px;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.048);
    text-align: left;
    color: rgb(255, 255, 255);
    text-align: center;
}

footer p{
	display: inline;
}
