@charset "utf-8";

/*
"paleta de cores do site"

#fff
#d68e8e
#ff0bffe0
rgb(173, 49, 49)
#776565
*/

:root{
   --cor0: #fff;
   --cor1: #d68e8e;
   --cor2: #ff0bffe0;
   --cor3: #ad3131;
   --cor4: #776565;
}

body{
   background-image: url(t.jpg);
   background-size: 500%;
   background-attachment: fixed;
}


header > h1{
   font-family: "chiller";
   color: var(--cor0);
   text-align: center;
   text-shadow: 2px 2px 10px black;
}

header > p{

   color: var(--cor1);
   text-align: center;
   margin-top: 50px;
}    

         


header > a > img:hover{
   border: 2px solid var(--cor2);
   cursor: pointer;

}

h6{
   text-align: center;
   padding: 6px;

}

header > nav > h6 > a{
   color: var(--cor0);
   text-decoration:none;
   text-align: center;
   padding: 1px;
   
   
}

header > nav > h6 > a:hover{ 
   color: var(--cor3);
   text-decoration: underline;

}   

header > h3{text-align: center;
   margin-left: 50px;
}




main{
   background-size:50%;
   font-family:"chiller";
   text-align:center;

}

main > h3{
   font-family:"chiller";
   color: white;
   text-align: center;
   background-color: black;
   box-shadow: 2px 2px 8px black;
   border: 1px solid white;
   border-radius: 2px;
}


main > p{
   
   color: var(--cor2);
   text-align: center;
}



main > div > div > h2{ 
   text-justify: 2px;
   text-indent: 2px;
   color: var(--cor0);
}

main > div > .prod1{
   float: left;
   width: 33.33%;
   height: 900%;
   
}

main > div > .prod2{
   float: right;
   width: 33.33%;
   
}

main > div > .prod3{
   float: left;
   width: 33.33%;
   padding-bottom: 20px;
  
   
}

main > video{
   
   text-align: center;
   border-top: 1px dashed white;
   border-bottom: 1px dashed white;
   pointer-events: stroke;
}

main > h1{
   
   text-align: center;
   color: rgb(255, 255, 255);
   text-shadow: 2px 2px 6px black;
   border-radius: 2px 2px 2px 2px;
   box-shadow: 2px 2px 6
   px black;
}

main > aside > ul > li > a{
   
   color: white;
   text-align: left;
   margin-right: 3%;

}

footer{
   
   font-size: 5px;
   text-align: center;
   border-radius: 2px 2px 2px 2px;
}

div{color: wheat;}

footer > h6{
   background-color: rgb(47, 47, 49);
   font-family: "Times New Roman";
   font-style: italic;
   font-size: 12px;
   color: var(--cor0);
   margin: 30px -5px -30px -10px;
   padding-right: 10%;

   
}

footer > h6 > a{
   text-decoration: none;
   color: var(--cor1);
   font-family: "corbel";

}

footer > h6 > a:hover{
   color: var(--cor3);
   text-decoration: underline;
   padding: none;
}

footer > h6{
   padding: 5px;
   font-family: "consolas";
   font-size: 10;
   text-shadow: 2px 2px 2px black;
}
